.app_nav {
   
}

.item {
    color: #fff;
}

.item a.activeLink {
    color: red;
    outline: none;
}

.item a {
    color: #fff;
    text-decoration: none;
}
.app_sidebar{
    grid-area: n;
    background-color: black;
    color: #fff;
    padding: 20px;

}